body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #1e1e1e;
  color: #f1f1f1;
}

.swipe-container,
.swipe,
.card,
.thumbnail-container,
.card img,
.card h3,
.card p,
.swipe-symbol,
.swipe-symbol-left,
.swipe-symbol-right,
.swipe.swipe-left .swipe-symbol-left,
.swipe.swipe-right .swipe-symbol-right {
  display: none;
}

/* New styles for the song request table */
table {
  width: 100%;
  margin-top: 20px;
  background-color: #2c2c2c;
  border-radius: 8px;
}

th, td {
  padding: 16px;
  text-align: left;
}

th {
  background-color: #1f1f1f;
  color: #f1f1f1;
}

td {
  border-bottom: 1px solid #444;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

td img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 5px;
}

td div {
  display: flex;
  align-items: center;
}

.button {
  padding: 8px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button.delete {
  background-color: #ef4444;
  margin-right: 10px;
}

.button.add {
  background-color: #1DB954;
}
